:root {
  --bs-primary: #7c3e96; }

.btn-primary {
  background-color: #7C3E96;
  border-color: #7C3E96; }
  .btn-primary:hover {
    background-color: #532965;
    border-color: #532965; }

h1 {
  color: #7C3E96; }

text-primary {
  color: #7C3E96; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.75rem;
  color: #ced4da;
  opacity: 1;
  /* Firefox */ }

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 0.75rem;
  color: #ced4da; }

.form-label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: left;
  color: #6c757d; }

fieldset {
  border-bottom: 1px solid #E6D3EE;
  margin-bottom: 1.5rem; }
  fieldset legend {
    text-transform: uppercase;
    color: #7C3E96;
    font-size: 1.2rem; }
